ACTIONS_WRITE_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
CREDENTIALS_API_PREFIX="https://users.example.com/api/private/credentials/"
CREDENTIALS_API_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
GITHUB_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
JIRA_EMAIL="xxxx@example.com"
JIRA_HOST="example.atlassian.net"
JIRA_TOKEN="xxxxxxxxxxxxxxxxxxxxxxxx"
ORGANIZATION_NAME="Example"
